body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ccc;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

button {
    padding: 10px 20px;
    background: #0060df;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #004ab3;
}

#response {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
